* {
    font-size: 100%;
    font-family: 'Press Start 2P', cursive;
   }

body {
    margin: 0;
}

.holy-grail {
	min-height: 100vh;
}

.holy-grail header {
    height: 6rem;
}

.holy-grail,
.holy-grail-body {
	display: flex;
	flex: 1 1 auto;
    flex-direction: row;
    text-align: center;
}

.holy-grail-content {
    flex: 1 1 auto;
    background-color: #a8a8a8;
}

.hg-sidebar {
    flex: 0 0 20%;
}

.holy-grail-sidebar-1 {
    order: -1;
}

.holy-grail-sidebar-2 {
}

/* Overwrite external style (NES-css) */
.nes-btn.is-success {
    color: #212529;
  }